extends layout

block content
  .inner
    h2 #{tag || title}
    ul.tags
      each t in tags
        li.tag
          a.tag__link(class=(t._id === tag ? 'tag__link--active' : '') href=`/tags/${t._id}`)
            span.tag__text= t._id
            span.tag__count= t.count
